<div class="container">
    <p class="text title">Game of life</p>
    <p class="text subtitle">by Clément Pickel</p>

  <form [formGroup]="form" class="container">
    <mat-form-field>
      <mat-label>Width</mat-label>
      <input matInput formControlName="width" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Time between gen (s)</mat-label>
      <input matInput formControlName="time" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Size (px)</mat-label>
      <input matInput formControlName="size" />
    </mat-form-field>
  </form>

  <div class="button-row offset-button">
    <button mat-fab extended color="primary" (click)="gol.previousGeneration()">
      <mat-icon>skip_previous</mat-icon>
      Previous
    </button>
    <button mat-fab extended color="primary" (click)="toggleLoop()">
      <mat-icon *ngIf="!isLooping">repeat</mat-icon>
      <mat-icon *ngIf="isLooping">pause</mat-icon>
      Loop
    </button>
    <button mat-fab extended color="primary" (click)="gol.nextGeneration()">
      <mat-icon>skip_next</mat-icon>
      Next
    </button>
  </div>

  <div class="button-row offset-button">
    <button mat-fab extended color="primary" (click)="gol.reset()">
      <mat-icon>undo</mat-icon>
      Reset
    </button>
  </div>


  <div class="rotate-right offset-button">
    <div class="button-row">
      <button mat-fab color="primary" (click)="gol.addOffsetHeight()" class="rotate-left">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="gol.addOffsetWidth()" class="rotate-left">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="button-row">
      <button mat-fab color="primary" (click)="gol.minusOffsetWidth()" class="rotate-left">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="gol.minusOffsetHeight()" class="rotate-left">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>
