.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.gol {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.line {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
}

.overlapping-text {
    position: absolute;
    bottom: 0; /* Position the text at the bottom */
    left: 0; /* Position the text at the left */
    color: rgba(255, 255, 255, 0.5);
    padding: 10px; /* Add padding for better visibility */
  }

app-case {
    padding: 2px;
}
